APP_HOST=                      # localhost
APP_PORT=                      # 8000

POSTGRES_HOST=                 # localhost
POSTGRES_PORT=                 # 5432
POSTGRES_DB=                   # task_db
POSTGRES_USER=                 # postgres
POSTGRES_PASSWORD=             # postgres

HASH_SECRET_KEY=               # fghb37483n27453rhe8v758
ACCESS_TOKEN_EXPIRE_MINUTES=   # 324572
REFRESH_TOKEN_EXPIRE_DAYS=     # 341876

CACHE_ADAPTER=                 # redis
CACHE_ADAPTER_HOST=            # localhost
CACHE_ADAPTER_PORT=            # 6379

SMTP_MAIL_USERNAME=            # ""
SMTP_MAIL_PASSWORD=            # ""
SMTP_MAIL_FROM=                # ""
SMTP_MAIL_PORT=                # ""
SMTP_MAIL_HOST=                # ""
SMTP_MAIL_STARTTLS=            # False
SMTP_MAIL_SSL_TLS=             # False       
SMTP_DEBUG=                    # true
